<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hydu.mapper.UserMapper">

    <select id="findByUsername" resultType="com.hydu.entity.User">
      select * from user where user_name = #{userName}
    </select>

    <select id="findPermissionByUsername" resultType="com.hydu.entity.User">
        select p.* from user u
          inner join user_role ur on u.user_id = ur.user_id
          inner join role_permission rp on ur.role_id = rp.role_id
          inner join permission p on rp.permission_id = p.permission_id where u.user_name == #{userName};
    </select>
</mapper>
